cp3.json
[
    {
        "id": "a6cd3a419728426a",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cf6256762e63aa73",
        "type": "serial in",
        "z": "a6cd3a419728426a",
        "name": "COM4",
        "serial": "16ddb6b4cd559d57",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "eaf67afb704dc952",
                "525c96e6b1c67784"
            ]
        ]
    },
    {
        "id": "eaf67afb704dc952",
        "type": "json",
        "z": "a6cd3a419728426a",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "3333b19fee98e162"
            ]
        ]
    },
    {
        "id": "0e24d4a4e61ead3e",
        "type": "ui_gauge",
        "z": "a6cd3a419728426a",
        "name": "",
        "group": "4d7fbf34b45433ac",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "9f1eccaa3afeb79d",
        "type": "ui_chart",
        "z": "a6cd3a419728426a",
        "name": "",
        "group": "58bf5b48bae8463b",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "e259494f112c6c0d",
        "type": "ui_chart",
        "z": "a6cd3a419728426a",
        "name": "",
        "group": "58bf5b48bae8463b",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "7e0df2f5d85f5fbe",
        "type": "change",
        "z": "a6cd3a419728426a",
        "name": "filtro_temperatura",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperatura",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 480,
        "wires": [
            [
                "0e24d4a4e61ead3e",
                "9f1eccaa3afeb79d"
            ]
        ]
    },
    {
        "id": "06f3b846417bc96c",
        "type": "change",
        "z": "a6cd3a419728426a",
        "name": "filtro_umidade",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.umidade",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 520,
        "wires": [
            [
                "e259494f112c6c0d"
            ]
        ]
    },
    {
        "id": "15a068d466b0a19b",
        "type": "ui_switch",
        "z": "a6cd3a419728426a",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "58bf5b48bae8463b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "3adf7f6bc0c3bee7"
            ]
        ]
    },
    {
        "id": "3adf7f6bc0c3bee7",
        "type": "function",
        "z": "a6cd3a419728426a",
        "name": "function 1",
        "func": "var newMsg = { led: msg.payload }\nreturn { payload: newMsg };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 120,
        "wires": [
            [
                "2fbcc7e53508354d"
            ]
        ]
    },
    {
        "id": "2fbcc7e53508354d",
        "type": "serial out",
        "z": "a6cd3a419728426a",
        "name": "COM4",
        "serial": "16ddb6b4cd559d57",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "67f18c47219b9ba4",
        "type": "ui_toast",
        "z": "a6cd3a419728426a",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "1409d9c0c96a0c95",
        "type": "function",
        "z": "a6cd3a419728426a",
        "name": "function 2",
        "func": "if(msg.payload.alerta){\n    return {\n        topic:\"Você tem um alerta\",\n        payload: \"Você atingiu a temperatura máxima\",\n    };\n}\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 300,
        "wires": [
            [
                "67f18c47219b9ba4"
            ]
        ]
    },
    {
        "id": "b6d2cbd92cbdcb3a",
        "type": "function",
        "z": "a6cd3a419728426a",
        "name": "function 3",
        "func": "var newMsg = { led: true }\n\nif (msg.payload.alerta) {\n    return { payload: newMsg };\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 180,
        "wires": [
            [
                "2fbcc7e53508354d"
            ]
        ]
    },
    {
        "id": "3333b19fee98e162",
        "type": "file",
        "z": "a6cd3a419728426a",
        "name": "DB",
        "filename": "C:\\Users\\Lucas Moretini\\teste\\data.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 650,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "a8232a5f38aa60fb",
        "type": "debug",
        "z": "a6cd3a419728426a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 680,
        "wires": []
    },
    {
        "id": "df32a7c08dba894f",
        "type": "change",
        "z": "a6cd3a419728426a",
        "name": "filtro_presenca",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.presenca",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 560,
        "wires": [
            [
                "a8232a5f38aa60fb",
                "9420cad888ea66d5"
            ]
        ]
    },
    {
        "id": "525c96e6b1c67784",
        "type": "json",
        "z": "a6cd3a419728426a",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "7e0df2f5d85f5fbe",
                "06f3b846417bc96c",
                "df32a7c08dba894f",
                "1409d9c0c96a0c95",
                "b6d2cbd92cbdcb3a"
            ]
        ]
    },
    {
        "id": "9420cad888ea66d5",
        "type": "ui_text",
        "z": "a6cd3a419728426a",
        "group": "4d7fbf34b45433ac",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "presenca",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 620,
        "wires": []
    },
    {
        "id": "16ddb6b4cd559d57",
        "type": "serial-port",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "4d7fbf34b45433ac",
        "type": "ui_group",
        "name": "temperatura",
        "tab": "d62220a9f95d2e44",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "58bf5b48bae8463b",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "d62220a9f95d2e44",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d62220a9f95d2e44",
        "type": "ui_tab",
        "name": "Default",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]